$radius: 80px;
$thickness: 7px;

.loader {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 100000;
  background-color: rgba(black, 0.1);
  backdrop-filter: blur(2px);
  transition: opacity 0.2s;

  .loader-body {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    border-radius: $border-radius;
    transition: transform 0.2s;

    .loader-dot {
      width: 30px;
      height: 30px;
      margin: 0 15px;
      border-radius: $border-radius;
    }

    .loader-trail {
      position: absolute;
      width: $radius;
      height: $radius;
      border: $thickness solid white;
      border-radius: 50%;
    }
    .loader-line {
      width: $radius;
      height: $radius;
      border: $thickness solid transparent;
      border-bottom: $thickness solid $primary;
      border-radius: 50%;
      z-index: 1;
      animation: spin 1s infinite linear;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes grow {
  0% {
    background-color: $primary;
    opacity: 1;
    transform: scale(1);
  }
  50% {
    background-color: $secondary;
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    background-color: $primary;
    opacity: 1;
    transform: scale(1);
  }
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  .loader-body {
    transform: scale(0.5);
  }
}
