$primary: #388e3c;
$primary-hover: rgba($primary, 0.75);
$secondary: #8bc34a;
$danger: tomato;

$background-dark: #dce775;
$background-dark-hover: rgba($background-dark, 0.25);
$background-light: #fff59d;
$background-light-hover: rgba($background-light, 0.5);

$border: #d7d8da;
$font-color: #5f6368;
$disabled: #d0d0d0;
$shadow: rgba(black, 0.04);
