.btn {
  outline: none;
  box-shadow: none !important;
}

.btn.btn-main {
  background-color: $primary;
  color: white;
  border-radius: $border-radius;
  transition: background-color 0.2s, color 0.2s;
  &:hover {
    background-color: $primary-hover;
  }
}

.btn.btn-danger-outline {
  background-color: transparent;
  color: $danger;
  border-radius: $border-radius;
  border: 1px solid $danger;
  transition: background-color 0.2s, color 0.2s;
  &:hover {
    background-color: $danger;
    color: white;
  }
}

.btn.btn-main-outline {
  background-color: transparent;
  color: $primary;
  border-radius: $border-radius;
  border: 1px solid $primary;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  &:hover {
    background-color: $primary;
    border-color: $primary;
    color: white;
  }
}

.btn.btn-text {
  background-color: transparent;
  color: $font-color;
  border-radius: $border-radius;
  font-weight: bold;
  transition: color 0.2s;
  &:hover {
    color: $primary-hover;
  }
  &.router-link-exact-active {
    color: $primary;
  }
}

.btn.btn-icon {
  background-color: transparent;
  color: $font-color;
  border-radius: $border-radius;
  transition: color 0.2s;
  &:hover {
    color: $primary-hover;
  }
}

.btn.btn-main-inv {
  background-color: transparent;
  color: $primary;
  border-radius: $border-radius;
  transition: background-color 0.2s, color 0.2s;
  &:hover {
    background-color: $primary;
    color: white;
  }
}

.btn-float {
  position: fixed;
  z-index: 1;
  right: 25px;
  bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50% !important;
  font-size: 32px;
  &:hover {
    span {
      visibility: visible;
      opacity: 1;
      transform: scaleX(1);
      background-color: $primary-hover;
    }
  }
  span {
    position: absolute;
    right: calc(100% + 10px);
    width: max-content;
    padding: 5px 10px;
    border-radius: $border-radius;
    font-size: 18px;
    background-color: $primary;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transform-origin: calc(100% + 40px) center;
    transform: scaleX(0.25);
    transition: background-color 0.2s, transform 0.2s, opacity 0.2s, visibility 0.2s;
  }
}