.tabs-explorer {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 15px;

  &.vertical {
    flex-direction: row;

    .tabs-header {
      flex-basis: $sidebar-width;
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 15px;

      .tab-button {
        width: 100%;
        flex-grow: 0;
        justify-content: start;
        padding: 10px 20px;
        border-radius: $border-radius-fixed;

        &:hover {
          background-color: $shadow;
        }

        &.active {
          color: $primary;
          background-color: rgba($primary, 0.075);

          &::after {
            background-color: $primary;
          }
        }

        i {
          margin-right: 15px;
          margin-top: 0;
        }
      }
    }

    .tabs-body {
      width: calc(100vw - $sidebar-width);
      padding: 0;
      min-height: calc(100vh - $navbar-height - 30px);
    }
  }

  .tabs-header {
    display: flex;
    border-radius: $border-radius;
    box-shadow: 0 5px 10px $card-shadow;
    background-color: white;

    .tab-button {
      position: relative;
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 0;
      padding: 12px 0;
      border: none;
      border-radius: $border-radius $border-radius 0 0;
      color: $font-color;

      &.active {
        color: $primary;

        &::after {
          background-color: $primary;
        }
      }

      span {
        font-size: 16px;
      }

      i {
        font-size: 18px;
        margin-right: 10px;
        margin-top: -3px;
      }
    }
  }

  .tabs-body {
    padding: 15px;
  }
}
