.tabs-explorer(:class="{vertical}")
  .tabs-header
    button.btn.tab-button(
      v-for="tab in tabs" :key="tab.id" 
      v-show="!tab.disabled"
      :class="{ active: currentTab === tab.id }"
      @click="selectedTab = tab.id"
    )
      span {{tab.name}}
  .tabs-body
    .tab-content(v-for="tab in tabs" :key="tab.id")
      slot(:name="tab.id" v-if="currentTab === tab.id")