.project-image {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 33vh;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
  z-index: 3;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000066;
  }

  h1 {
    margin: 0 20px;
    z-index: 1;
    text-align: center;
    color: white;
  }

  .project-statistics {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    padding: 10px 15px;
    color: white;

    .project-statistic {
      display: flex;
      align-items: center;
      z-index: 1;
      font-weight: bold;
      font-size: 18px;
      color: white;
      margin-left: 15px;
      span {
        margin-left: 10px;
      }
    }
    .project-views {
    }
    .project-likes {
    }
    .project-dislikes {
    }
  }
}
.project-section {
  padding: 15px;

  .no-questions-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 250px;
    }
    h3 {
      font-size: 32px;
    }
  }

  .project-info {
    &.project-question {
      padding: 15px;
      border-radius: $border-radius;
      transition: background-color 0.2s;

      &:hover {
        background-color: $shadow;
      }

      .question-actions {
      }
    }

    .project-subsection {
      display: flex;
      margin-bottom: 15px;
      // align-items: center;

      h3 {
        flex: 0 0 25%;
        font-size: 18px;
        font-weight: bold;
        margin: 0;
      }

      p {
        flex: 0 0 75%;
        margin: 0;
      }

      .question-option {
      }
    }

    .project-keywords {
      display: flex;
      flex-direction: column;
      .keyword {
        display: flex;
        align-items: center;
        margin-right: 5px;
        padding: 0 5px;

        i {
          margin-right: 5px;
          font-size: 8px;
        }

        b {
          margin-right: 5px;
        }
      }
    }

    .project-question-type {
      display: flex;
      align-items: center;
      margin: 15px 0;

      h2 {
        font-size: 24px;
        margin: 0;
        font-weight: bold;
      }

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        margin-right: 15px;
        background-color: $primary;
        color: white;
        border-radius: 50%;
        font-size: 12px;
        font-weight: 600;
      }
    }

    .project-comments {
      width: 100%;

      .project-comment {
        position: relative;
        margin: 10px 0;
        padding: 5px 10px;
        border-radius: $border-radius;
        cursor: pointer;
        transition: background-color 0.2s;

        &:hover {
          background-color: $shadow;
          .comment-actions {
            opacity: 1;
          }
        }

        .comment-header {
          display: flex;
          align-items: center;

          .comment-user {
            font-weight: bold;
            text-transform: capitalize;
          }

          .comment-date {
            margin-left: 5px;
            font-weight: 300;
            font-size: 12px;
            color: #999;
          }
        }
        .comment-actions {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 10px;
          display: flex;
          align-items: center;
          opacity: 0;
          transition: opacity 0.2s;

          button {
            font-size: 18px !important;
          }
        }

        .comment {
        }
      }
    }
  }
}
