div
  Tabs(:tabs="projectTabs" vertical)
    template(#slot_0)
      .project-image(:style="{backgroundImage: `url('${currentProjectImage}')`}" alt="alt")
        h1 {{currentProject.nombre}}
        .project-statistics
          .project-statistic.project-views
            i.fas.fa-eye
            span {{currentProjectStatistics.views}}
          .project-statistic.project-likes
            i.fas.fa-thumbs-up
            span {{currentProjectStatistics.likes}}
          .project-statistic.project-dislikes
            i.fas.fa-thumbs-down
            span {{currentProjectStatistics.dislikes}}
      .project-section
        .project-info
          .project-subsection
            h3 Estado: 
            ToggleButton.toggle-green(v-model="currentProject.enabled" @change="switchProjectStatus(currentProject)")
          .project-subsection
            h3 Descripción
            p {{currentProject.descripcion}}
          .project-subsection
            h3 Resumen
            p {{currentProject.resumen}}
          .project-subsection
            h3 Palabras clave
            .project-keywords
              .keyword(v-for="(keyword, index) in currentProject.palabrasClave" :key="index") 
                i.fas.fa-circle
                |  {{keyword}} 
          .project-subsection
            h3 Cronograma
            .project-keywords
              .keyword(v-for="(keyword, index) in currentProject.cronograma" :key="index") 
                b {{index + 1}}. 
                | {{keyword}} 
          .project-subsection
            h3 Objetivos
            p {{currentProject.objetivos}}
          .project-subsection
            h3 Hitos
            p {{currentProject.principalItos}}
          .project-subsection
            h3 Fecha: 
            p {{currentProject.fecha}}
          .project-subsection
            h3 Localización: 
            p {{currentProject.localizacion[0]}} {{currentProject.localizacion[1]}}
          .project-subsection
            h3 Presupuesto: 
            p {{filterToCurrency(currentProject.presupuesto)}}

    template(#slot_1)
      .project-section
        .project-info
          .project-subsection
            h3 Título
            p {{currentProjectGamitfication.titulo}}
          .project-subsection
            h3 Fecha de terminación
            p {{currentProjectGamitfication.fechaTerminacion}}
          .project-subsection
            h3 Términos y condiciones
            p {{currentProjectGamitfication.tyc}}
          .project-subsection
            h3 Mensaje de participación
            p {{currentProjectGamitfication.mensajeParticipacion}}
          .project-subsection
            h3 Mensaje de ganador
            p {{currentProjectGamitfication.mensajeGanador}}
          .project-subsection
            h3 Habilitado
            ToggleButton.toggle-green(v-model="currentProjectGamitfication.habilitado")
              template(#label="{ checked, classList }")
                strong(:class="classList.label") {{ checked ? 'Si' : 'No' }}
          .project-subsection(v-if="currentProjectGamitfication.patrocinadores.length > 0")
            h3 Patrocinadores
            .project-keywords
              .keyword(v-for="(item, index) in currentProjectGamitfication.patrocinadores" :key="index") 
                i.fas.fa-circle
                |  {{item}} 
          .project-subsection(v-if="currentProjectGamitfication.premios.length > 0")
            h3 Premios
            .project-keywords
              .keyword(v-for="(item, index) in currentProjectGamitfication.premios" :key="index") 
                i.fas.fa-circle
                |  {{item}} 
          .project-subsection(v-if="currentProjectGamitfication.usuariosParticipantes.length > 0")
            h3 Participantes
            .project-keywords
              .keyword(v-for="(item, index) in currentProjectGamitfication.usuariosParticipantes" :key="index") 
                i.fas.fa-circle
                |  {{item}} 
          .project-subsection(v-if="currentProjectGamitfication.usuariosGanadores.length > 0")
            h3 Ganadores
            .project-keywords
              .keyword(v-for="(item, index) in currentProjectGamitfication.usuariosGanadores" :key="index") 
                i.fas.fa-circle
                |  {{item}} 

    template(#slot_2)
      button.btn-float.btn.btn-main(@click="() => { actions.question = 'create'; modal.createQuestion = true; }")
        i.fal.fa-plus.fa-fw
        span Nueva pregunta
      .project-section
        template(v-if="rankingQuestions.length > 0")
          .project-info
            .project-question-type
              span {{rankingQuestions.length}}
              h2 Ranking
          .project-info.project-question(v-for="(question, index) in rankingQuestions" :key="index")
            .project-subsection
              h3 Pregunta
              p {{question.pregunta}}
            .project-subsection
              h3 Información
              p {{question.informacion}}
            .project-subsection
              h3 Opciones:
              .project-keywords
                .keyword(v-for="(option, index) in question.opciones" :key="index") 
                  i.fas.fa-circle
                  |  {{option}} 
            .project-subsection
              h3  Obligatorio
              ToggleButton.toggle-green(v-model="question.obligatorio")
                template(#label="{ checked, classList }")
                  strong(:class="classList.label") {{ checked ? 'Si' : 'No' }}
            .question-actions
              button.btn.btn-icon(@click="() => { newQuestion = question; actions.question = 'update'; modal.createQuestion = true; }"): i.fas.fa-pencil.fa-fw
              button.btn.btn-icon(type='submit'): i.fas.fa-trash.fa-fw
        template(v-if="hundredDollarsQuestions.length > 0")
          .project-info
            .project-question-type
              span {{hundredDollarsQuestions.length}}
              h2 $100
          .project-info.project-question(v-for="(question, index) in hundredDollarsQuestions" :key="index")
            .project-subsection
              h3 Pregunta
              p {{question.pregunta}}
            .project-subsection
              h3 Información
              p {{question.informacion}}
            .project-subsection
              h3 Opciones:
              .project-keywords
                .keyword(v-for="(option, index) in question.opciones" :key="index") 
                  i.fas.fa-circle
                  |  {{option}} 
            .project-subsection
              h3  Obligatorio
              ToggleButton.toggle-green(v-model="question.obligatorio")
                template(#label="{ checked, classList }")
                  strong(:class="classList.label") {{ checked ? 'Si' : 'No' }}
            .question-actions
              button.btn.btn-icon(@click="() => { newQuestion = question; actions.question = 'update'; modal.createQuestion = true; }"): i.fas.fa-pencil.fa-fw
              button.btn.btn-icon(type='submit'): i.fas.fa-trash.fa-fw
        template(v-if="likertQuestions.length > 0")
          .project-info
            .project-question-type
              span {{likertQuestions.length}}
              h2 Likert
          .project-info.project-question(v-for="(question, index) in likertQuestions" :key="index")
            .project-subsection
              h3 Pregunta
              p {{question.pregunta}}
            .project-subsection
              h3 Información
              p {{question.informacion}}
            .project-subsection
              h3 Opciones:
              .project-keywords
                .keyword(v-for="(option, index) in question.opciones" :key="index") 
                  i.fas.fa-circle
                  |  {{option}} 
            .project-subsection
              h3  Obligatorio
              ToggleButton.toggle-green(v-model="question.obligatorio")
                template(#label="{ checked, classList }")
                  strong(:class="classList.label") {{ checked ? 'Si' : 'No' }}
            .question-actions
              button.btn.btn-icon(@click="() => { newQuestion = question; actions.question = 'update'; modal.createQuestion = true; }"): i.fas.fa-pencil.fa-fw
              button.btn.btn-icon(type='submit'): i.fas.fa-trash.fa-fw
        template(v-if="kanoModelQuestions.length > 0")
          .project-info
            .project-question-type
              span {{kanoModelQuestions.length}}
              h2 Kano Model
          .project-info.project-question(v-for="(question, index) in kanoModelQuestions" :key="index")
            .project-subsection
              h3 Pregunta
              p {{question.pregunta}}
            .project-subsection
              h3 Información
              p {{question.informacion}}
            .project-subsection
              h3 Opciones:
              .project-keywords
                .keyword(v-for="(option, index) in question.opciones" :key="index") 
                  i.fas.fa-circle
                  |  {{option}} 
            .project-subsection
              h3  Obligatorio
              ToggleButton.toggle-green(v-model="question.obligatorio")
                template(#label="{ checked, classList }")
                  strong(:class="classList.label") {{ checked ? 'Si' : 'No' }}
            .question-actions
              button.btn.btn-icon(@click="() => { newQuestion = question; actions.question = 'update'; modal.createQuestion = true; }"): i.fas.fa-pencil.fa-fw
              button.btn.btn-icon(type='submit'): i.fas.fa-trash.fa-fw

    template(#slot_3)
      button.btn-float.btn.btn-main(@click="modal.createComment = !modal.createComment")
        i.fal.fa-plus.fa-fw
        span Nuevo comentario
      .project-section
        .project-info
          .project-comments
            .project-comment(v-for="(comment, index) in projectComments" :key="index")
              .comment-header
                .comment-user.anonymous {{!comment.anonimo ? comment.username : 'Anónimo'}}
                .comment-date {{filterFormatDate(comment.fecha)}}
              .comment {{comment.comentario}}
              .comment-actions
                button.btn.btn-icon(@click="deleteComment(comment)"): i.fas.fa-trash.fa-fw    

  Modal(:show="modal.createQuestion" @closeModal="modal.createQuestion = false")
    template(#modal-header)
      h4.m-0: b {{actions.question === 'create' ? 'Nueva' : 'Actualizar'}} pregunta
    template(#modal-body)
      form.app-form(noValidate @submit.prevent="addQuestion")
        .form-field
          label Tipo de pregunta
          br
          select#obligatorio.w-100(v-model="newQuestion.tipoConsulta")
            option(value="1") Ranking
            option(value="2") $100
            option(value="3") Likert
            option(value="6") Kano Model
        .form-field
          label Pregunta
          input#pregunta(type="text" v-model="newQuestion.pregunta")
        .form-field
          label Información
          input#informacion(type="text" v-model="newQuestion.informacion")
        .form-field
          label Opciones
          ListInput(
            type="text"
            placeholder="Nueva opción"
            :list="newQuestion.opciones" 
            :ordered="newQuestion.tipoConsulta === '3'"
            @addElement="handleAddCronograma"
            @removeElement="handleRemoveCronograma"
          )
        .form-field.d-flex.flex-column
          label Obligatorio 
          ToggleButton.toggle-green(v-model="newQuestion.obligatorio")
            template(#label="{ checked, classList }")
              strong(:class="classList.label") {{ checked ? 'Si' : 'No' }}
    template(#modal-footer)
      .d-flex.justify-content-end
        button.btn.btn-main-outline(@click="modal.createQuestion = false") Cancelar
        button.btn.btn-main.ms-3(@click="submitQuestion") {{ actions.question === 'create' ? 'Crear' : 'Actualizar'}}

  Modal(:show="modal.createComment" @closeModal="modal.createComment = false")
    template(#modal-header)
      h4.m-0: b Nuevo comentario
    template(#modal-body)
      form.app-form(noValidate @submit.prevent="addComment")
        .form-field
          textarea#comment.w-100(rows="6" placeholder="Comentario" v-model="newComment.comentario")
    template(#modal-footer)
      .d-flex.justify-content-end
        button.btn.btn-main-outline(@click="modal.createComment = false") Cancelar
        button.btn.btn-main.ms-3(@click="addComment") Crear
