.custom-modal {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
  transition: opacity 0.2s;

  .custom-modal-content {
    display: flex;
    flex-direction: column;
    background-color: white;
    max-height: 90vh;
    min-width: 500px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    border-radius: $border-radius;
    transform: scale(1);
    transition: transform 0.2s ease-out;

    .custom-modal-header {
      position: relative;
      display: flex;
      justify-content: space-between;
      padding: 12px;

      .custom-modal-header-slot {
        max-width: calc(100% - 40px);
      }

      .close-modal {
        position: absolute;
        right: 12px;
      }
    }
    .custom-modal-body {
      padding: 12px;
      max-width: 90vw;
      overflow-y: auto;
      overflow-x: hidden;
    }
    .custom-modal-footer {
      margin-top: auto;
      padding: 12px;
    }
  }
}

.modal-fade-enter-active,
.modal-fade-leave-active {
  .custom-modal-content {
    transform: scale(1);
  }
}

.modal-fade-enter-from,
.modal-fade-leave-to {
  opacity: 0;

  .custom-modal-content {
    transform: scale(0.75);
  }
}
