transition(name="modal-fade")
  .custom-modal(v-if="show")
    .custom-modal-content(:class="{'max-height': maxHeight}")
      .custom-modal-header(v-if="$slots['modal-header']")
        .custom-modal-header-slot
          slot(name="modal-header")
        button.btn.btn-icon.close-modal(@click="$emit('closeModal')")
          i.fas.fa-times
      .custom-modal-body(v-if="$slots['modal-body']")
        slot(name="modal-body")
      .custom-modal-footer(v-if="$slots['modal-footer']")
        slot(name="modal-footer")