.tags-input {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid $border;
  border-radius: $border-radius;
  padding: 4px;
  &.read-only {
    padding: 0;
    border: none;
    .tags {
      cursor: pointer;
      .tag {
        i {
          display: none;
        }
      }
    }
    form {
      display: none !important;
    }
  }
  .tags {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    .tag {
      display: flex;
      align-items: center;
      padding: 0 2px 0 4px;
      margin: 2px 4px;
      border: 1px solid $border;
      border-radius: $border-radius;
      transition: background-color 0.2s, color 0.2s;
      &:hover {
        background-color: $background-dark-hover;
        color: $primary;
      }
      i {
        margin-left: 4px;
        cursor: pointer;
      }
    }
    form {
      display: flex;
      align-items: center;
      flex-grow: 1;
      input {
        width: 100%;
        padding: 4px 8px;
        border: none;
        outline: none;
      }
    }
  }
}
