header {
  position: fixed;
  z-index: 50;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  background-color: white;
  height: $navbar-height;
  box-shadow: 0 0 10px $card-shadow;
  transition: transform 0.2s ease-out;

  &.hide {
    transform: translateY(-100%);
  }

  .main-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 15px;

    .sidebar-toggler {
      button {
        padding: 5px;
        font-size: 20px;
      }
    }

    .brand {
      display: flex;
      align-items: center;
      margin-right: auto;
      cursor: pointer;
      text-decoration: none;

      img {
        height: $navbar-height - 15px;
        padding: 5px;
      }

      span {
        font-size: 20px;
        color: $font-color;
        // color: $primary;
      }
    }

    .navbar-search {
      flex-grow: 1;
      display: flex;
      justify-content: center;

      .input-search {
        position: relative;
        display: flex;
        flex-basis: 50%;

        &.searching {
          button {
            opacity: 1;
            transform: scale(1);
          }
        }

        input {
          flex-grow: 1;
          height: $navbar-height - 20px;
          padding: 5px 40px 5px 10px;
          border-radius: $border-radius-fixed;
          border: none;
          outline: none;
          background-color: #f0f2f5;

          color: $font-color;
          transition: color 0.2s, border-color 0.2s;

          &:focus {
            border-color: $primary;
          }

          &:focus ~ button {
            border-color: $primary;
          }
        }

        button {
          position: absolute;
          right: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          width: $navbar-height - 20px;
          height: $navbar-height - 20px;
          border: none;
          outline: none;
          background-color: transparent;
          color: $font-color;
          transform: scale(1.5);
          opacity: 0;
          transition: color 0.2s, border-color 0.2s, transform 0.2s, opacity 0.2s;

          &:hover {
            color: $primary;
          }
        }
      }
    }

    .navbar-actions {
      span.separator {
        border-left: 1px solid $border;
      }
    }
  }
}

@media (max-width: 992px) {
  header {
    .main-navbar {
      .brand {
        span {
          display: none;
        }
      }
      .navbar-actions {
        a,
        button {
          span {
            display: none;
          }
        }
      }
    }
  }
}
