header(:class="{hide: !navbarState}")
  .main-navbar
    .sidebar-toggler(v-if="$route.name !== 'Project' && $route.name !== 'Peticiones'")
      button.btn.btn-text(@click="switchSidebar")
        i.far.fa-bars.fa-fw
    router-link.brand(to="/")
      img(src="" alt="")
      span Super App City
    .navbar-search
      .input-search(:class="{ searching: getSearch }")
        input(type="text" placeholder="Buscar" @input="(e) => setSearch(e.target.value)")
        button(@click=""): i.fas.fa-search.fa-fw
    .navbar-actions
      router-link.btn.btn-text(to="/" v-if="isAuthenticated")
        i.fas.fa-tasks-alt.fa-fw
        span.ms-1 Proyectos
      router-link.btn.btn-text(to="/users" v-if="isAuthenticated && hasRole(ROLES.ROLE_INTERVENTOR)")
        i.fas.fa-users.fa-fw
        span.ms-1 Usuarios
      span.separator
      router-link.btn.btn-text(to="/requests" v-if="isAuthenticated && hasRole(ROLES.ROLE_INTERVENTOR)")
        i.fas.fa-bell.fa-fw
        span.ms-1 Peticiones
      span.separator
      button.btn.btn-text(v-if="isAuthenticated" @click="logoutUser")
        i.fas.fa-power-off.fa-fw
        span.ms-1 Cerrar sesión