.app-content {
  position: relative;

  &.show {
    aside.sidebar-content {
      transform: translateX(0);
    }
    .page-content {
      margin-left: $sidebar-width;
    }
  }

  aside.sidebar-content {
    position: fixed;
    top: $navbar-height;
    left: 0;
    display: flex;
    flex-direction: column;
    width: $sidebar-width;
    min-height: calc(100vh - $navbar-height);
    padding: 15px 0;
    background-color: rgba(white, 0.75);
    backdrop-filter: blur(5px);
    border-right: 1px solid $border;
    transform: translateX(-100%);
    transition: transform 0.2s;

    a.sidebar-item {
      display: flex;
      align-items: center;
      padding: 10px 20px;
      cursor: pointer;
      text-decoration: none;
      color: inherit;
      transition: background-color 0.2s;
      border-left: 5px solid transparent;
      transition: border-color 0.2s;

      &:hover {
        background-color: rgba(black, 0.02);
      }

      &.router-link-exact-active {
        border-color: $primary;
        background-color: rgba(black, 0.02);
        color: $primary;
      }

      .sidebar-item-icon {
        font-size: 18px;
        margin-right: 20px;
      }
      .sidebar-item-title {
        font-weight: 500;
      }
    }
  }

  .page-content {
    margin-left: 0;
    transition: margin 0.2s;
  }
}

@media (max-width: 992px) {
  .app-content {
    &.show {
      .page-content {
        margin: 0;
      }
    }
  }
}
