.app-content(:class="{show: siderbarState}")
  aside.sidebar-content
    router-link.sidebar-item(v-for="(item, index) in items" :key="index" :to="{name: item.route}")
      .sidebar-item-icon: i.fas.fa-fw(:class="item.icon")
      .sidebar-item-title {{item.title}}
  .page-content
    slot
      