.delete-project-requests {
  margin: 20px;
  padding: 10px;
  .project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border-radius: $border-radius;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: rgba(black, 0.02);
    }

    .project-name {
      h2 {
        margin: 0;
        font-size: 20px;
      }
    }
    .actions {
      button {
      }
    }
  }
}
