.projects-table {
  padding: 15px;
  border-radius: $border-radius;
  .app-projects {
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-x: hidden;
    .error {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: calc(100vh - $navbar-height - 120px);
      padding: 30px;
      img {
        width: 25%;
      }
      h3 {
        font-weight: 400;
      }
    }
    .project {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      border-radius: $border-radius;
      background-color: white;
      transition: background-color 0.2s, opacity 0.2s, transform 0.2s;

      &:hover {
        background-color: #f9f9f9;
        .project-actions {
          .project-hidden-actions {
            opacity: 1;
            visibility: visible;
            transform: translateX(0);
          }
        }
      }
      .project-summary {
        flex-grow: 1;
        display: flex;
        align-items: center;
        padding: 8px 0 8px 8px;
        .project-thumbnail {
          img {
            height: 70px;
            aspect-ratio: 16 / 9;
            object-fit: cover;
            border-radius: $border-radius-fixed;
            margin-right: 15px;
          }
        }
        h2.project-title {
          flex-grow: 1;
          flex-shrink: 1;
          margin: 0;
          font-size: 20px;
          text-overflow: ellipsis;
          -webkit-line-clamp: 2; /* number of lines to show */
          line-clamp: 2;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }
      .project-actions {
        display: flex;
        align-items: center;
        padding-right: 15px;
        .project-hidden-actions {
          margin-right: 15px;
          opacity: 0;
          visibility: hidden;
          transform: translateX(30px);
          transition: opacity 0.2s, visibility 0.2s, transform 0.2s;
        }
        button {
          padding: 5px;
          font-size: 20px;
        }
      }
    }
  }
}
.form-tabs {
  min-width: 75vw;
  .tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 6px;
    .tab {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 20px;
      padding: 10px;
      width: 175px;
      border-radius: $border-radius;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.2s, color 0.2s;

      &:not(.disabled):hover {
        background-color: rgba(black, 0.05);
      }

      &.selected {
        span {
          color: $primary;
        }

        &::after {
          background-color: $primary !important;
        }
      }

      &.filled {
        i {
          color: $primary;
        }

        &::after {
          background-color: $primary !important;
        }
      }

      &.disabled {
        span {
          color: $disabled;
        }
      }

      &:not(.first-tab)::after {
        content: "";
        position: absolute;
        bottom: 17px;
        right: calc(50% + 8px);
        background-color: $font-color;
        width: calc(175px + (20px * 2) - 16px);
        height: 4px;
        pointer-events: none;
        transition: background-color 0.2s;
      }

      span,
      i {
        transition: color 0.2s;
      }

      i {
        font-size: 18px;
      }
    }
  }
  .tabs-content {
    .tab-content {
      padding: 12px;
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

@media (max-width: 992px) {
  .projects-table {
    padding: 0;
    .app-projects {
      padding: 0;
      .project {
        .project-actions {
          .project-hidden-actions {
            display: none;
          }
        }
      }
    }
  }
}
