.custom-accordion {
  .accordion-toggler {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: $border-radius-fixed;
    transition: background-color 0.2s, color 0.2s;
    background-color: #eaecf1;

    &:hover {
      background-color: #dee1e6;
    }

    .accordion-icon {
      margin-left: auto;
      i {
        transition: transform 0.2s;
      }
    }
  }

  .accordion-content {
    padding: 0 15px;
    max-height: 0;
    border-radius: $border-radius-fixed;
    overflow: hidden;
    transform: scale(0.95);
    transition: transform 0.2s, max-height 0.2s, background-color 0.2s, margin 0.2s, padding 0.2s;
  }

  &.collapsed {
    .accordion-toggler {
      .accordion-icon i {
        transform: rotate(180deg);
      }
    }

    .accordion-content {
      padding: 15px;
      margin-top: 10px;
      max-height: 100vh;
      overflow-y: overlay;
      background-color: #eaecf1;
      transform: scale(1);

      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: $border-radius;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: $border-radius;

        &:hover {
          background-color: #bbb;
        }
      }
    }
  }
}
