$cols: (10, 20, 30, 50, 75, 90, 100);

.users-table {
  margin: $navbar-height + 15px 15px 15px 15px;
  padding: 15px;
  background-color: white;
  border-radius: $border-radius;

  @each $col in $cols {
    .flex-#{$col} {
      width: #{$col} + "%";
      flex-basis: #{$col} + "%";
    }
  }

  .users-columns {
    display: flex;
    margin-bottom: 15px;
    span {
      font-weight: bold;
      text-align: center;
    }
  }

  .users-rows {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .user {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: $border-radius-fixed;
      cursor: pointer;
      transition: background-color 0.2s;

      &:hover {
        background-color: rgba(black, 0.05);

        .actions {
          opacity: 1;
          visibility: visible;
        }
      }

      .user-data {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 7.5px 15px;

        .user-profile-image {
          display: flex;
          justify-content: center;
          
          img {
            width: 50%;
            aspect-ratio: 1;
            object-fit: contain;
            border-radius: 50%;
            background-color: white;
          }
        }

        span {
          text-align: center;
        }
      }

      &.shadow {
        box-shadow: none !important;
        // background-color: rgba(black, 0.02);
      }

      .actions {
        position: absolute;
        right: 15px;
        display: flex;
        justify-content: center;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s, visibility 0.2s;
        button {
          font-size: 18px;
        }
      }
    }
  }
}
